# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - Strapi-enigma

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: 'ubuntu-latest'

    steps:
    - uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Log in to registry
      uses: docker/login-action@v1
      with:
        registry: https://index.docker.io/v1/
        username: ${{ secrets.AzureAppService_ContainerUsername_6751f63ae67244a990d209daf1022c89 }}
        password: ${{ secrets.AzureAppService_ContainerPassword_e85e79c4738f411288f1caab64fa44f3 }}

    - name: Build and push container image to registry
      uses: docker/build-push-action@v2
      with:
        push: true
        tags: index.docker.io/${{ secrets.AzureAppService_ContainerUsername_6751f63ae67244a990d209daf1022c89 }}/Enigma:${{ github.sha }}
        file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
    - name: Deploy to Azure Web App
      id: deploy-to-webapp
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'Strapi-enigma'
        slot-name: 'production'
        publish-profile: ${{ secrets.AzureAppService_PublishProfile_30f3d981af6f4d379cda378a0910a945 }}
        images: 'index.docker.io/${{ secrets.AzureAppService_ContainerUsername_6751f63ae67244a990d209daf1022c89 }}/Enigma:${{ github.sha }}'